<form class="layui-form layui-form-pane form-search" action="{:request()->url()}" onsubmit="return false" method="get" autocomplete="off">
    <fieldset>
        <legend>{:lang('条件搜索')}</legend>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('配置名称')}</label>
            <div class="layui-input-inline">
                <input name="name" value="{$get.name|default=''}" placeholder="{:lang('按名称或备注搜索')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('平台')}</label>
            <div class="layui-input-inline">
                <select name="platform" class="layui-select" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    {foreach $platforms as $k => $v}
                    <option value="{$k}" {if isset($get.platform) && $get.platform == $k}selected{/if}>{$v.label}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('渠道')}</label>
            <div class="layui-input-inline">
                <select name="channel" class="layui-select" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    {foreach $channels as $k => $v}
                    <option value="{$k}" {if isset($get.channel) && $get.channel == $k}selected{/if}>{$v.label}</option>
                    {/foreach}
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('默认')}</label>
            <div class="layui-input-inline">
                <select name="is_default" class="layui-select" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    <option value="1" {if isset($get.is_default) && $get.is_default == '1'}selected{/if}>{:lang('默认')}</option>
                    <option value="0" {if isset($get.is_default) && $get.is_default == '0'}selected{/if}>{:lang('普通')}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('状态')}</label>
            <div class="layui-input-inline">
                <select name="status" class="layui-select" lay-append-to>
                    <option value="">-- {:lang('全部')} --</option>
                    <option value="1" {if isset($get.status) && $get.status == '1'}selected{/if}>{:lang('启用')}</option>
                    <option value="0" {if isset($get.status) && $get.status == '0'}selected{/if}>{:lang('禁用')}</option>
                </select>
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <label class="layui-form-label">{:lang('创建时间')}</label>
            <div class="layui-input-inline">
                <input data-date-range name="create_at" value="{$get.create_at|default=''}" placeholder="{:lang('请选择时间范围')}" class="layui-input">
            </div>
        </div>

        <div class="layui-form-item layui-inline">
            <button class="layui-btn layui-btn-primary"><i class="layui-icon layui-icon-search"></i>{:lang('搜 索')}</button>
        </div>
    </fieldset>
</form>
