<form action="{:url('query')}" method="post" data-auto="true" class="layui-form layui-card">
    <div class="layui-card-body padding-left-40">

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12">
                <label class="layui-form-item relative block label-required-prev">
                    <span class="help-label"><b>Cookie配置</b>选择请求身份</span>
                    <select name="cookies_id" class="layui-select" required>
                        <option value="">{:lang('请选择 Cookie 配置')}</option>
                        {foreach $cookieConfigs as $v}
                        <option value="{$v.id}">
                            [{$v.platform_label}/{$v.channel_label}] {$v.name}{if $v.is_default}（默认）{/if}
                        </option>
                        {/foreach}
                    </select>
                </label>
            </div>
        </div>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12">
                <label class="layui-form-item relative block">
                    <span class="help-label"><b>用户UID</b>外部用户标识</span>
                    <input name="user_uid" maxlength="120" class="layui-input"
                        placeholder="{:lang('可选，未传则为空')}">
                </label>
            </div>
        </div>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs12">
                <label class="layui-form-item relative block label-required-prev">
                    <span class="help-label"><b>{:lang('账号链接')}</b>查询内容</span>
                    <textarea name="input" required class="layui-textarea" style="min-height:90px"
                        placeholder="{:lang('粘贴账号主页链接、分享文本或平台账号链接')}"></textarea>
                </label>
            </div>
        </div>

        <div class="layui-row layui-col-space15">
            <div class="layui-col-xs6">
                <label class="layui-form-item relative block">
                    <span class="help-label"><b>{:lang('超时')}</b>请求超时</span>
                    <input name="timeout" type="number" min="1000" value="10000" class="layui-input">
                </label>
            </div>
            <div class="layui-col-xs6">
                <label class="layui-form-item relative block">
                    <span class="help-label"><b>{:lang('采样数')}</b>作品采样</span>
                    <input name="sample_count" type="number" min="0" max="50" value="12" class="layui-input">
                </label>
            </div>
        </div>

    </div>

    <div class="hr-line-dashed"></div>

    <div class="layui-form-item text-center">
        <button class="layui-btn" type="submit">{:lang('开始查询')}</button>
        <button class="layui-btn layui-btn-danger" type="button" data-close>{:lang('取消操作')}</button>
    </div>
</form>
